In [16]:
import pandas as pd

df = pd.read_csv('result/loss_feature.csv')

In [17]:
round(df.groupby(['dataset','remove_feature_ratio']).mean(), 2)

                              run_seed_feature  loss_w  loss_wo
dataset remove_feature_ratio
cora    0.2                                3.5    1.52     1.62
        0.5                                3.5    1.53     1.73
        0.8                                3.5    1.53     1.78

In [18]:
round(df.groupby(['dataset','remove_feature_ratio']).std(), 2)

                              run_seed_feature  loss_w  loss_wo
dataset remove_feature_ratio
cora    0.2                               1.29    0.01     0.02
        0.5                               1.29    0.02     0.04
        0.8                               1.29    0.01     0.06